/* estilos para el boton */
button {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.19);
}

@media screen and (min-width: 1024px){

    button:hover{
        background-color: var(--pink) !important;
    }
}

button:active {
    background-color: var(--pink) !important;
    box-shadow: none;
    transform: translateY(4px);
}
/* fin de estilos para el boton*/