.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark80);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    background-color: var(--orange);
    padding: 1rem;

}

.modal-close{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
}