:root {
  --dark: #252827;
  --dark80: #252827CC;
  --green: #75A971;
  --violet: #9073A9;
  --yellow: #E4BD52;
  --orange: #EF8456;
  --pink: #EA7472;
  --beige: #FBF3E8;
  --title-font: 'Poppins', sans-serif;
  --subtitle-font: 'Roboto', sans-serif;
  --text-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sirve para mejorara el uso de los rem  1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}

/* fin del mejorado de uso de los rem */

body {
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

.none {
  display: none;
}

  .navItem {
    height: 100%;
    text-decoration: none;
    font-family: var(--title-font);
    font-weight: bold;
    color: var(--beige);
    text-align: center;
    font-size: 2.8rem;
    padding: 15px 0;
    z-index: 2;
    transition: 0.5s all ease;
  }

  .navItem:hover{
    color: var(--dark);
    transition: 0.5s all ease;
  }
  
  .fa-solid {
    color: var(--dark);
    font-size: 2.2rem;
  
  }

  
  @media (min-width: 768px) {
    .navItem{
    font-size: 2.5rem;
  }

  }
  