:root {
  --dark: #252827;
  --green: #75A971;
  --violet: #9073A9;
  --yellow: #E4BD52;
  --orange: #EF8456;
  --pink: #EA7472;
  --beige: #FBF3E8;
  --title-font: 'Poppins', sans-serif;
  --subtitle-font: 'Roboto', sans-serif;
  --text-font: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sirve para mejorara el uso de los rem  1rem = 10px */
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
}
/* fin del mejorado de uso de los rem */

body {
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

.none {
  display: none;
}

.navegacion{
  background-color: var(--orange);
  width:100%;
  height:15vh;
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  gap: 120px;
  
}

.logo{
  padding-top: 0.8%;
}

.items{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  gap: 100px

  }

  .navItem{
    text-decoration: none;
    font-weight:bold;
    color: var(--beige);
    text-align:center;
    font-size: 2.8rem;
  
}
 

.iconos{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  gap: 60px;

}

.fa-solid{
  color: var(--dark);
  font-size: 2.5rem;  
}
 
  @media (min-width: 768px){
    .hamburguesa{
      display: none;
  }



}