.title  
{  
        margin-bottom: 20px;  
        padding:20px  
}  
.img  
{  
        height: 260px;
        width:100%;
        object-fit: contain; 
}  

.owl-carousel .owl-stage-outer{
        margin-top: 3rem;
}

.owl-nav button{
        position: absolute;
        top: 50%;
        background-color: #000;
        
        margin: 0;
        transition: all .3s ease-in-out;
}
.owl-nav button.owl-prev{
        left: 0;
}
.owl-nav button.owl-next{
        right: 0;
}
.owl-nav button.owl-prev:hover,
.owl-nav button.owl-next:hover{
        background-color: #000;
}

.owl-nav button{
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        
}
span{
        font-size: 70px;
        position: relative;
        top: -5px;
}
.owl-nav button:focus{
        outline: none;
}